 /* Loading Spinner */

 @keyframes off {
   0% {
     opacity: 1;
     transform: translateY(0);
   }
   50% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
     opacity: 0;
     transform: translateY(-200%);
   }
 }
 @keyframes loading {
     0% {
         transform: rotate(0);
         opacity: 1;}

     50% {
         transform: rotate(360deg);
         opacity: 0.5;}   
     100% {
         transform: rotate(-360deg);
         opacity: 0;}   
     }

 #spinner{
    width: 100%;
    height: 125%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1000;
    animation: off 500ms 3000ms ease-out 1 both;
  }
  
  #spinner img{
    width: 100px;
    height: 100px;
    margin: 40px;
    margin-top: 25%;
    animation: loading 3000ms ease-in-out 1 both;
    transform-origin: center center;
  }

  /* Enlever le scroll vertical */
 
  body{
    animation: scroll 4000ms 1 ease both;
  }
  @keyframes scroll {
    0% {
      overflow: hidden;
    }
    50% {
      overflow: hidden;
    }
    100%{
      overflow: auto;
    }
  }
  /********* RESPONSIVE SMARTPHONE Small *********/

@media screen and (min-width: 320px) and (max-width: 425px)
{
  #spinner img{
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    margin-top: 100%;
  }
}
  /********* RESPONSIVE SMARTPHONE LARGE *********/

  @media screen and (min-width: 426px) and (max-width: 769px)
  {
    #spinner img{
      width: 80px;
      height: 80px;
      margin-top: 50%;
  }
}