 /* Définition des polices */

 @font-face {
  font-family: 'Shrikhand';
  src: url('Font/Shrikhand-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('Font/Roboto-Bold.ttf') format('truetype')
}

/* Body */

#container {
  font-size: 16px;
  background-color: #f6f6f6;
}
body{
  margin: 0;
  padding: 0;
}

/**** Refactoring de toutes les pages sans les BreakPoints ****/

a {text-decoration: none;}
p {color: rgb(53, 52, 52);}
h1, h2{
font-size: 1.4em;
text-shadow: 1px 2px 8px #e7e7e7;
}

figure{box-shadow: 1px 2px 8px #e7e7e7;}
figure:hover, button:hover
{box-shadow: 2px 3px 10px #8b8a8a;}

#container, header, #entreprise, #lieu, section figure, main figure img, #resto figure figcaption, figure #pic, #mainMenu
{width: 100%;}

nav figure, #resto, #menuTop, .cartouche
{width: 90% !important;}

#lieu input, #reserver h1, #menuTop, .plat
{width: 80% !important;}

#container, button, footer
{font-family: 'Roboto', 'Sans Serif', 'Serif';}

#reserver h1, nav figure p
{font-family: 'Roboto-Bold', 'Sans Serif', 'Serif';}

footer h4, #menuTop h1
{font-family: 'Shrikhand', 'Sans Serif', 'Serif';}

header, #entreprise, nav figure, .icones, .rond, #resto, footer, #menuTop, .cartouche, .vert, #bouton
{display: flex;}

header, #entreprise, .rond, .vert, #bouton
{justify-content: center;}

header, .icones, .rond, .vert
{align-items: center;}

header, #entreprise, #lieu input
{text-align: center;}

header .fas, header .fas:active
{color: black;}

#container, #entreprise, #reserver h1, #resto
{margin: 0 auto;}

#entreprise, #resto
{flex-wrap: wrap;}

header, #lieu, .rond, section figure, #resto figure figcaption, #menuTop, #mainMenu
{position: relative;}

header .fas, #lieu img, .new, .coeur, .plein, .vert
{position: absolute;}

#lieu input, button, #fork, #hands, footer a, .plat h3, #bouton button
{font-size: 1em;}

button, .plein
{background: linear-gradient(.49turn, #FF79DA, 50%,#9356DC);}

button, .rond, footer, footer h4, footer a
{color: white;}

.cartouche, .text h3, .text p
{overflow: hidden;}

.coeur, .cartouche:hover
{cursor: pointer;}


/* HEADER */

header{background-color: white;}

      /* LOGO */

#logo {
  width: 50%;
  height: auto;
  padding: 10px;
}

      /* Flèche pages Menus */

header .fas{
  top: 28%;
  left: 5%;
  font-size: 1.2em;
}

/******** CSS Page d'Accueil *********/

      /* LIEU */

#lieu img{
  width: 1.2em;
  left: 24%;
  top: 25%;
}

#lieu input{
  background-color: #eaeaea;
  padding: 10px 30px;
  border: 2px white inset;
  font-weight: 600;
}

      /* CADRE RESERVER */

#reserver{
  background-color: #f6f6f6;
  padding-top: 30px;
}
#reserver p{
  color: #414141;
  padding: 0 20px;
}
button{
  margin: 10px 0 20px 0;
  padding: 15px 40px;
  border: 0;
  border-radius: 25px;
  box-shadow: 1px 2px 8px #afadad;
}
button:hover {background: linear-gradient(.49turn, #ee91d5, 50%,#a276d8);}

/* NAV */

nav{
  padding: 10px 0 30px 0;
  background-color: white;
}
h2{
  padding: 5%;
  font-weight: 900;
  text-align: left;
}
nav figure{
  margin: 20px;
  padding: 5px 0;
  background-color: #f6f6f6;
  border-radius: 15px;
}
nav figure:hover{background-color: rgba(147,86,220,0.1);}

.rond{
  width: 23px;
  height: 23px;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 12px;
  right: 10px;
  z-index: 10;
}
nav figure .fas{
  color: #8d8d8d;
  margin: 0 25px 0 10px;
}
nav figure #mobile{
  margin-right: 30px;
  font-size: 18px;
}
nav figure #list{font-size: 16px;}

/* MAIN */

main{
  background-color: #f6f6f6;
  padding: 15px 0 30px 0;
}
section figure{
  height: 200px;
  background-color: white;
  border-radius: 15px;
  margin: 15px;
}
main figure img{
  height: 120px;
  border-radius: 15px 15px 0 0;
}
      /* Ajustement des photos */

#gout, #note, #french, #sens
{object-fit: cover;}

#resto figure #gout{object-position: 0px -40px;}
#resto figure #note{object-position: 0px -130px;}
#resto figure #french, #resto figure #sens{object-position: 0px -48px;}

      /* Positionnement de Nouveau */

.new{
  width: 70px;
  right: 5%;
  bottom: 75%;
  color: #008766;
  background: #99e2d0;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5%;
} 

     /* Figcaption */

#resto figure figcaption {height: 50px;}
#resto figure figcaption h3{margin: 10px 0 0 15px;}
#resto figure figcaption p{margin: 5px 0 0 15px;}

      /* Coeur */

.coeur{
  right: 5%;
  top: 10%;
}
.vide {
  margin-top: 10px;
  left: 20px;
  opacity: 1;
  z-index: 20;
  font-size: 20px;
}
.plein{
  font-size: 22px;
  top: 9px;
  left: -1px;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease;
}
.vide:hover + .plein{
  z-index: 30;
  transition-duration: 500ms;
  opacity: 1;
}

/* FOOTER */

footer{
  background-color: #353535;
  padding: 5px 0 20px 20px;
  flex-direction: column;
  justify-content: flex-start;
}
footer h4{
  font-size: 1.2em;
  font-weight: 100;
  margin: 15px 0 10px 0;
}
footer i{margin-right: 5px;}
#hands{margin: 5px 0 0 0}
#hands a{margin:0;}
#hands i{font-size: 0.9em;}
footer a{margin: 5px;}

/******* Ajout des BREAKPOINTS page d'Accueil ********/

/*** RESPONSIVE TABLET ***/

@media screen and (min-width: 426px) and (max-width: 768px)
{
  #container{width: 60%;}
  #lieu {width: 40%;}
  #lieu img{left: 18%;}
  nav h2, section h2{text-align: center;}
  nav figure{width: 100%;}
  #how{
    width: 50%;
    margin: 0 auto;
  }
  #how a{margin: 0 !IMPORTANT;}
  section h2{padding: 20px 0 !important;}
  #resto {justify-content: center;}
  figure{flex-basis: 40%;}
} 
/*** RESPONSIVE TABLET ***/

@media screen and (min-width: 768px)
{
  #entreprise, #how, #resto, footer
  {display: flex;}

  #entreprise, footer{
    flex-direction: row;
    justify-content: space-around;}
  #container{
    width: 90% !IMPORTANT;
    max-width: 1024px;
  }
  #entreprise{width: 80%;}
  #lieu{
    width: 50%;
    height: 40px;
  }
  #lieu img{
    position: relative;
    left: -120px;
    top: 80%;
  }
  #reserver{margin-top: 20px;}
  nav h2, main h2{
    padding: 1%;
    font-size: 1.6em;
    text-align: center !important;
  }
  #how{
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
  }
  #resto{
    width: 100%;
    justify-content: center;
  }
  #how a{margin: 0 10px;}

  section h2{padding-bottom: 5% !IMPORTANT;}
  figure{flex-basis: 40%;}

  footer{align-items: center;}
  footer a{font-size: 1em;}
}

/*** RESPONSIVE DESKTOP ***/

@media screen and (min-width: 1024px)
{
  #how{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
  #how figure{width: 95% !important;}
}

/************* CSS pages Menus ***********/

/*IMG*/

#pictop{margin: 0;}
figure #pic{
  max-height: 300px;
  object-fit: cover;
}
/* COEUR */

#menuTop .coeur{
  top: 20%;
  right: -10px;
  font-size: 20px !important;
}
#menuTop .plein {
  left: -1px;
  top: 9px;
  font-size: 22px !important;
}

/* MENU */

#menuTop{
  justify-content: space-between;
  margin-left: 20px; 
}
#menuTop h1{font-weight: 500;}

#mainMenu{
  background-color: #f6f6f6;
  padding: 15px 0 0 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  top: -44px;
}
.border{margin-bottom: 60px;}

section h2{
  padding-bottom: 0;
  margin-bottom: 5px;
}
.border{
  width: 40px;
  border-top: 3px #99e2d0 solid;
  margin-left: 5%;
}
.cartouche{
  height: 65px;
  margin: 10px 20px;
  background: white;
  border-radius: 12px;
}
.text {
  width: 240px;
  flex-basis: 20em;
  margin-left: 5px;
}
.text:hover{
  width: 60%;
  transition: width 1000ms 0ms linear;
}
.plat h3{margin: 10px 0 0 5px;}

.plat .text p{
  margin: 5px;
  font-size: 0.9em;
}
.text h3, .text p{white-space: nowrap;}
.avec, .dish{text-overflow: ellipsis;}

.prix{
  width: 65px;
  height: 65px;
  margin-left: 20px;
}
.prix p{
  font-size: 0.9em;
  margin: 34px 0 0 0;
  font-weight: bolder;
}
.vert{
  width: 65px;
  height: 65px;
  background-color: #99e2d0;
  border-radius: 0 12px 12px 0;
  right: -23%;
}
.vert .fas{
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
#bouton{margin: 30px 0 0 0;}
#bouton button{padding: 15px 40px;}

/* Animations hover */

.cartouche:hover > .prix {animation: verte 1000ms cubic-bezier(.7,.33,.33,.69) 1 both;}
.cartouche:hover > .vert {animation: verte 1000ms cubic-bezier(.7,.33,.33,.69) 1 both;}
.cartouche:hover > .vert .fas{animation: circle 500ms 300ms ease-in 1 both;}

  @keyframes circle {
    0%{transform: rotateZ(0);}
    100% {transform: rotateZ(360deg);}
  }
  @keyframes verte {
    0% {transform: translateX(0);}
    100% {transform: translateX(-65px);}
  }
  
/* Animations Menus */

#secEntrees .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(6n){
  animation: slow 500ms 900ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
  @keyframes slow{
    0%{
      opacity: 0;
      transform: translateY(0);
    }
    25%{
      opacity: 0.2;
      transform: translateY(-10px);
    }
    50%{
      opacity: 0.4;
      transform: translateY(-20px);
    }
    75%{
      opacity: 0.6;
      transform: translateY(-30px);
    }
    85%{
      opacity: 0.8;
      transform: translateY(-35px);
    }
    100%{
      opacity: 1;
      transform: translateY(-40px);
    }
  }

/******* Ajout des BREAKPOINTS des pages Menus ********/


/*** RESPONSIVE small SMARTPHONE ***/

@media screen and (min-width: 321px) and (max-width: 375px)
{
  #menuTop {width: 80% !IMPORTANT;}

  .text{width: 260px;}
  .prix {
   margin-right: 2% !important;
   margin-left: 5% !IMPORTANT;
  }
  .vert{right: -5% !IMPORTANT;}

  .cartouche:hover > .vert{
    animation: vert 1000ms cubic-bezier(.7,.33,.33,.69) 1 both !IMPORTANT;
}
@keyframes vert {
  0% {transform: translateX(0);}
  100% {transform: translateX(-65px);}
  }
}

/*** RESPONSIVE LARGE SMARTPHONE ***/

@media screen and (min-width: 375px) and (max-width: 424px)
{
  .text{width: 270px;}
  .prix {
    margin-left: 8% !IMPORTANT;
    margin-right: 1% !important;
  }
  .vert{right: -20% !IMPORTANT;}
}

/*** RESPONSIVE small TABLET ***/

@media screen and (min-width: 425px) and (max-width: 767px)
{
  .text{width: 300px;}
  .prix {
  margin-left: 5% !IMPORTANT;
  margin-right: 1% !important;
  }
  .vert{right: -18% !IMPORTANT;}
}

/*** RESPONSIVE LARGE TABLET ***/

@media screen and (min-width: 768px) and (max-width: 1023px)
{
  #menuTop .coeur{right: -20px !important;}
  .border{
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 60px;
  }
  .text {width: 450px;}
  .text:hover{width: 100%;}
  .prix {
    margin-left: 8% !IMPORTANT;
    margin-right: 1% !IMPORTANT;
  }
  .vert{right: -16% !IMPORTANT;}
}

/*** RESPONSIVE small DESKTOP ***/

@media screen and (min-width: 1024px) and (max-width: 1200px)
{
  figure #pic{max-height: 400px !IMPORTANT;}
  #menuTop{width: 90% !important;}
  #menuTop h1{font-size: 2em;}
  #menuTop .coeur{right: 35px !important;}
  #menuTop .vide{margin-top: 20px;}
  #menuTop .plein{
    left: 0px;
    top: 20px;}
  #mainMenu section h2{
    text-align: center;
    padding-bottom: 2% !IMPORTANT;
  }
  .border{
    margin: 0 auto !IMPORTANT;
    width: 60px;
    margin-bottom: 50px !IMPORTANT;
  }
  .text {width: 450px;}
  .text:hover{width: 100%;}
  .prix {
    margin-left: 35% !IMPORTANT;
    margin-right: 1% !important;
  }
  .vert{right: -8% !IMPORTANT;}
}

/*** RESPONSIVE LARGE DESKTOP ***/

@media screen and (min-width: 1440px)
{
  .border{
  margin: 0 auto;
  width: 60px;
  margin-top: -40px;
  margin-bottom: 80px;
  }
  #menuTop{width: 90% !important;}
  #menuTop h1{font-size: 2em;}
  #menuTop .vide{font-size: 22px;}
  #menuTop .plein{
    font-size: 24px !important;
    left: 0px;
    top: 9px;}
  #pictop img{max-height: 700px;}
  figure #pic{max-height: 500px;}

  .cartouche{
  width: 95%;
  z-index: -1;
  }
  .text {width: 450px;}
  .text:hover{width: 100%;}
  .prix {margin-left: 20% !important;}
  .vert {right: -7.5%;}
}
