 /* Définition des polices */
 @font-face {
  font-family: 'Shrikhand';
  src: url('Font/Shrikhand-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('Font/Roboto-Bold.ttf') format('truetype')
}

/**** CSS Communs à la page d'Accueil et aux pages Menus ****/

/* Body */

#container {
  width: 100%;
  font-family: 'Roboto';
  margin: 0 auto !IMPORTANT;
  font-size: 16px;
  background-color: #f6f6f6;
  z-index: 2;
  overflow: hidden;
}
body{
  margin: 0;
  padding: 0;
}

a {text-decoration: none;}
p {color: black;}
h1, h2{
font-size: 1.4em;
text-shadow: 1px 2px 8px #e7e7e7;
}

figure{box-shadow: 1px 2px 8px #e7e7e7;}


/* HEADER */

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  position: relative;
}
      /* LOGO */

#logo {
  width: 50%;
  height: 40%;
  padding: 20px 0 10px 0;
  margin: 0 auto;
}

      /* Flèche pages Menus */

header .fas{
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 1.2em;
}


/******** CSS Page d'Accueil *********/


/* ENTREPRISE */

#entreprise{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
      /* LIEU */

#lieu{
  width: 100%;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  padding-right: 12%;
  border-top: 3px #d5d5d5 solid;
  border-bottom: 1px white solid;
  text-align: center;
}
#lieu img{
  width: 50%;
}

      /* CADRE RESERVER */

#reserver{
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 30px;
}
#reserver h1{
  width: 80%;
  font-family: 'Roboto-Bold';
  font-weight: 900;
  padding: 0;
  margin: 0 auto;
}
#reserver p{
  color: #414141;
  padding: 0 20px;
}
button{
  margin: 10px 0 20px 0;
  padding: 15px 40px;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(.49turn, #FF79DA, 50%,#9356DC);
  color: white;
  box-shadow: 1px 2px 8px #afadad;
  font-size: 1em;
}
button:hover {
  background: linear-gradient(.49turn, #ee91d5, 50%,#a276d8);
  box-shadow: 2px 3px 10px #8b8a8a;
}

/* NAV */

nav{
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0 30px 0;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}
h2{
  padding: 5%;
  font-weight: 900;
}
nav figure{
  width: 90%;
  margin: 20px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 15px;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
nav figure:hover{
  background-color: rgba(147,86,220,0.1);
  box-shadow: 2px 3px 10px #8b8a8a;
}
.icones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rond{
  width: 23px;
  height: 23px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 10px;
  z-index: 10;
}
nav figure .fas{
  color: #8d8d8d;
  margin: 0 25px 0 10px;
}
nav figure #mobile{
  margin-right: 30px;
  font-size: 18px;
}

nav figure #list{
  font-size: 16px;
}
nav figure p{
  font-family: 'Roboto-Bold';
  text-align: left;
  color: black;
}

/* MAIN */

main{
  background-color: #f6f6f6;
  padding: 15px 0 30px 0;
}
section{
  width: 100%;
  margin: 0 auto;

}
#resto{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
section figure{
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  margin: 15px;
  position: relative;
}
main figure img{
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}
      /* Ajustement des photos */

#resto figure #gout{
  object-fit: cover;
  object-position: 0px -40px;
}
#resto figure #note{
  object-fit: cover;
  object-position: 0px -130px;
}
#resto figure #french, #resto figure #sens{
  object-fit: cover;
  object-position: 0px -48px;
}
      /* Positionnement de Nouveau */

.new{
  width: 70px;
  position: absolute;
  right: 5%;
  bottom: 75%;
  color: #008766;
  background: #99e2d0;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5%;
} 

     /* Figcaption */

#resto figure figcaption {
  width: 100%;
  height: 50px;
  position: relative;
}
#resto figure figcaption h3{
  margin: 10px 0 0 15px;
}
#resto figure figcaption p{
  margin: 5px 0 0 15px;
}

      /* Coeur */

.coeur{
  position: absolute;
  right: 5%;
  top: 10%;
  cursor: pointer;
}
.coeur i{
  font-size: 1.5em;
}
.vide {
  left: 20px;
  opacity: 1;
  z-index: 20;
}
.plein{
  position: absolute;
  left: 0;
  background: linear-gradient(#9356DC,50%,#ee91d5);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease;
}
.vide:hover + .plein{
z-index: 30;
transition-duration: 500ms;
opacity: 1;
}

/* FOOTER */

footer{
  background-color: #353535;
  padding: 5px 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
footer h4{
  color: white;
  font-family: 'Shrikhand';
  font-size: 18px;
  font-weight: 100;
  margin: 15px 0 10px 0;
}
footer i{
  margin-right: 5px;
}
#fork, #hands{margin: 5px;}
footer #hands .fas{
  font-size: 10px;
}
footer a{
  font-size: 14px;
  color: white;
  margin: 5px;
}

/******* Ajout des BREAKPOINTS page d'Accueil ********/

/*** RESPONSIVE small DESKTOP ***/

@media screen and (min-width: 426px) and (max-width: 768px)
{
#container{width: 60%;}
#lieu {padding-right: 5%;}
nav h2{text-align: center;}
nav figure{width: 100%;}
#how{
  width: 50%;
  margin: 0 auto;
}
#how a{margin: 0 !IMPORTANT;}
#resto {justify-content: center;}
figure{flex-basis: 40%;}
} 
/*** RESPONSIVE LARGE DESKTOP ***/

@media screen and (min-width: 769px)
{
#container{
  width: 90% !IMPORTANT;
  max-width: 1024px;
}
  /* TOP */

#entreprise{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#lieu{
  width: 20%;
  height: 40px;
}
#lieu img{
  width: 25px;
  position: relative;
  left: -50px;
}
  /* Fonctionnement */

h2{
  padding: 1%;
  font-size: 1.6em;
}
#how {
  width: 100%;
  display: flex;
  justify-content: center;
}
#how a{margin: 0 10px;}

  /* Restaurants */

section h2{
  text-align: center;
  padding-bottom: 2% !IMPORTANT;
}
#resto{
  width: 100%;
  justify-content: center;
}
figure{flex-basis: 40%;}

  /* Footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer a{font-size: 1em;}
}

/************* CSS pages Menus ***********/

#container{
  width: 100%;
}
/*IMG*/
#pictop{
margin: 0;
}
figure #pic{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
/* COEUR */
#menuTop .coeur{
  bottom: 15%;
}
#menuTop .plein{
left: 15px;
}

/* MENU */

#menuTop{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  position: relative;
}
#menuTop h1{
  font-family: 'Shrikhand';
  font-weight: 500;
}
#menuTop i{
  font-size: 1.2em;
  position: absolute;
  right: -5%;
  top: 35%;
}
#mainMenu{
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px 0 0 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  top: -44px;
}
.border{
  margin-bottom: 60px;
}
section h2{
  padding-bottom: 0;
  margin-bottom: 5px;
}
.border{
  width: 40px;
  border-top: 3px #99e2d0 solid;
  margin-left: 5%;
}
.cartouche{
  width: 90%;
  height: 65px;
  display: flex;
  margin: 10px 20px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}
.cartouche:hover{
  cursor: pointer;
}
.plat{
  width: 80%;
}
.text {
  width: 240px;
  flex-basis: 20em;
  margin-left: 5px;
}
.text:hover{
  width: 50%;
  transition: width 1000ms 0ms linear;
}
.plat h3{
  margin: 10px 0 0 5px;
  color: black;
  font-size: 1em;
}
.plat .text p{
  margin: 5px;
  font-size: 0.9em;
}
.text h3, .text p{
  overflow: hidden;
  white-space: nowrap;
}
.avec, .dish{
  text-overflow: ellipsis;
}
.prix{
  width: 65px;
  height: 65px;
  margin-left: 20px;
}
.prix p{
  font-size: 0.9em;
  margin: 34px 0 0 0;
  font-weight: bolder;
}
.vert{
  width: 65px;
  height: 65px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 12px 12px 0;
  position: absolute;
  right: -33%;
}

.vert .fas{
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
#bouton{
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}
#bouton button{
  padding: 15px 40px;
  font-size: 1em;
}

/* Animations hover */

.cartouche:hover > .prix {
  animation: verte 1000ms cubic-bezier(.7,.33,.33,.69) 1 both;
}
.cartouche:hover > .vert {
  animation: verte 1000ms cubic-bezier(.7,.33,.33,.69) 1 both;
}
.cartouche:hover > .vert .fas{
  animation: circle 500ms 300ms ease-in 1 both;
}

  @keyframes circle {
    0%{
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes verte {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-95px);
      }
  }
  
/* Animations Menus */

#secEntrees .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secEntrees .cartouche:nth-child(6n){
  animation: slow 500ms 900ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secPlats .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(3n){
  animation: slow 500ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(4n){
  animation: slow 500ms 300ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
#secDesserts .cartouche:nth-child(5n){
  animation: slow 500ms 600ms cubic-bezier(.11,.43,.22,.64) 1 both;
}
  @keyframes slow{
    0%{
      opacity: 0;
      transform: translateY(0);
    }
    25%{
      opacity: 0.2;
      transform: translateY(-10px);
    }
    50%{
      opacity: 0.4;
      transform: translateY(-20px);
    }
    75%{
      opacity: 0.6;
      transform: translateY(-30px);
    }
    85%{
      opacity: 0.8;
      transform: translateY(-35px);
    }
    100%{
      opacity: 1;
      transform: translateY(-40px);
    }
  }

/******* Ajout des BREAKPOINTS des pages Menus ********/


/*** RESPONSIVE small SMARTPHONE ***/

@media screen and (min-width: 321px) and (max-width: 424px)
{
.prix {
  margin-right: 1%;
  margin-left: 10% !IMPORTANT;
}
.vert{right: -28% !IMPORTANT;}

.cartouche:hover > .vert{
  animation: vert 1000ms cubic-bezier(.7,.33,.33,.69) 1 both !IMPORTANT;
}
@keyframes vert {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55px);
    }
  }
}

/*** RESPONSIVE LARGE SMARTPHONE ***/

@media screen and (min-width: 375px) and (max-width: 424px)
{
.prix {
  margin-left: 13% !IMPORTANT;
  margin-right: 2%;
}
.vert{right: -20% !IMPORTANT;}
}

/*** RESPONSIVE small TABLET ***/

@media screen and (min-width: 425px) and (max-width: 699px)
{
.prix {
  margin-left: 10% !IMPORTANT;
  margin-right: 2%;
}
.vert{right: -25% !IMPORTANT;}
}

/*** RESPONSIVE LARGE TABLET ***/

@media screen and (min-width: 700px) and (max-width: 919px)
{
.text {
  width: 450px;
}
.text:hover{
  width: 100%;
}
.prix {
  margin-left: 20% !IMPORTANT;
  margin-right: 2% !IMPORTANT;
}
.vert{right: -14% !IMPORTANT;}
}

/*** RESPONSIVE small DESKTOP ***/

@media screen and (min-width: 920px) and (max-width: 1200px)
{
figure #pic{max-height: 400px !IMPORTANT;}
#menuTop h1{font-size: 2em;}

#menuTop i{
  font-size: 1.5em !IMPORTANT;
  right: -10% !IMPORTANT;
  top: 40% !IMPORTANT;
}
section h2{
  text-align: center;
  padding-bottom: 2% !IMPORTANT;
}
.border{
  margin: 0 auto !IMPORTANT;
  width: 60px;
  margin-bottom: 50px !IMPORTANT;
}
.text {
  width: 450px;
}
.text:hover{
  width: 100%;
}
.prix {
  margin-left: 35% !IMPORTANT;
  margin-right: 2%;
}
.vert{right: -11.5% !IMPORTANT;}
}

/*** RESPONSIVE LARGE DESKTOP ***/

@media screen and (min-width: 1200px)
{
  .border{
  margin: 0 auto;
  width: 60px;
  margin-bottom: 50px;
  }
  #menuTop h1{font-size: 2em;}

  #menuTop i{
  font-size: 1.5em;
  right: -11%;
  top: 35%;
  }
  #pictop img{max-height: 700px;}
  figure #pic{max-height: 500px;}

  .cartouche{
  width: 95%;
  z-index: -1;
  }
  .text {
    width: 450px;
  }
  .text:hover{
    width: 100%;
  }
  .prix {margin-left: 20% !important;}
  .vert {right: -10%;}
}
