body{
    width: 100%;
    height: 100%;
    background: rgba(252, 250, 250, 0.7);
}
#all{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#resto, #table, #serveur, #diner{
    margin: 40px;
}

#resto{
    animation: loading 3000ms 0ms ease-in-out infinite;}
#table{
    animation: loading 2000ms 2000ms ease-in-out infinite;}
#serveur{
    animation: loading 2000ms 4000ms ease-in-out infinite;}
#diner{
    animation: loading 2000ms 6000ms ease-in-out infinite;}

@keyframes loading {
    0% {
        transform: rotate(-360deg);
        transform-origin: center center;}
    50% {
        transform: rotate(360deg);
        transform-origin: center center;}   
    100% {
        transform: rotate(-360deg);
        transform-origin: center center;}   
    }
}